<div>Patrones de Diseño</div>
<div>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Patrones Creacionales
            </mat-panel-title>
            <mat-panel-description>
                Estos patrones proporcionan mecanismos de creación de objetos que incrementan la flexibilidad y la reutilización del código existente.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>-- lista de patrones creacionales---</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Patrones Estructurales
            </mat-panel-title>
            <mat-panel-description>
                Explican cómo ensamblar objetos y clases en estructuras más grandes, mientras se mantiene la flexibilidad y eficiencia de la estructura.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>-- lista de patrones extructurales---</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Patrones de Comportamiento
            </mat-panel-title>
            <mat-panel-description>
                Estos patrones tratan con algoritmos y la asignación de responsabilidades entre objetos.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>-- lista de patrones comportamiento---</p>
    </mat-expansion-panel>
</div>