<p>Poligonos</p>

<table>
    <tr>
        <th>Nombre</th>
        <th>Lados</th>
    </tr>
    @for (poligono of poligonos; track $index) {
        <tr>
            <td>{{poligono.nombre}}</td>
            <td>{{poligono.vertices}}</td>
            <td></td>
        </tr>
    }
</table>


<p>Comunicación clásica (contador {{contador}})</p>
<app-jerarquia-comunicacion-hijo [figura]="figuraPadre" (botonClicado)="manejarClicDelHijo()"></app-jerarquia-comunicacion-hijo>
<br>
<br>

<p>Comunicación signals</p>
<app-jerarquia-comunicacion-hijo-signals [figuraSignal]="figuraPadreSignal"></app-jerarquia-comunicacion-hijo-signals>
<br>
<br>

<p>Comunicación signals "two ways" (contadorSignal {{contadorSignalPadre}})</p>
<app-jerarquia-comunicacion-hijo-two-ways [(contadorSignal)]="contadorSignalPadre"></app-jerarquia-comunicacion-hijo-two-ways>
<br>
<br>
