
#result-sort {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #result-sort td, #result-sort th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #result-sort tr:nth-child(even){background-color: #f2f2f2;}
  
  #result-sort tr:hover {background-color: #ddd;}
  
  #result-sort th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  