
<h1>Sudoku Solver Aplication (& CIA)</h1>

<nav>
    <a routerLink="/sudoku1">Sudoku 1</a>
    <a routerLink="/nasa-apod">Nasa Astronomy Picture of the day</a>
    <a routerLink="/juego-vida">Juego de la vida</a>
    <a routerLink="/sort">Rutinas de ordenación</a>
    <a routerLink="/fractales">Fractales</a>
    <a routerLink="/patrones">Patrones</a>
    <a routerLink="/primos">Primos</a>
    <a routerLink="/jerarquia-comunicacion">Jerarquia y Comunicacion</a>
</nav>

<router-outlet></router-outlet>
