

<div>
    <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="fractal">
          <mat-option value="Triangle">Triangle</mat-option>
          <mat-option value="Koch">Koch</mat-option>
          <mat-option value="Snowflake Koch">Snowflake Koch</mat-option>
          <mat-option value="Anti Snowflake Koch">Anti Snowflake Koch</mat-option>
        </mat-select>
      </mat-form-field>
      <label for="nivel"> Numero {{nivel}} </label>
</div>

<div>
    <button (click)="onSiguientePaso()">Siguiente paso</button>
    <button (click)="onLimpiar()">Limpiar</button>
</div>

<canvas id="fractal-canvas" #canvas width="{{width}}" height="{{height}}"></canvas>